<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.common.devbase">

    <application>
        <provider
            android:name="com.github.welcomeworld.devbase.provider.DevBaseInitContentProvider"
            android:authorities="${applicationId}.nisigada.common.dev.base.provider"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.nisigada.common.dev.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>